body{
    background-color: whitesmoke;
}
table{
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
footer{ 
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    align-content: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
   flex: auto;
   flex-shrink: 0;
   text-align: center;
   
}

/*background-color: rgb(26, 27, 35);
color:white;

*/
form{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 75px;
    
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 1000;
    background-color: rgb(26, 27, 35);
    color:white;
    text-align: center;
    height:10%;
}

.user-img{
    background-color: antiquewhite;
    z-index: 1001;
    border-color: aliceblues;
    border-width: 3px;
    border-style: outset;
    width:"55px";
    max-width: 3%;
    position: absolute;
    right: 0;
    top: 10px;
    margin-right:10px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Transição suave */
}

.user-img:hover {
    transform: scale(1.05); /* Aumenta 10% do tamanho original */
  }


.badegas{
    height:100px; 
}

.loginPage{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(135deg,#0f0f0f,#2b2b2b);
}

.loginForm{
    background:#1e1e1e;
    padding:40px;
    width:350px;
    border-radius:10px;

    box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

.loginForm h2{
    color:white;
    text-align:center;
    margin-bottom:20px;
}

.loginForm label{
    color:#ccc;
}

.loginForm input{
    width:100%;
    padding:12px;
    margin:8px 0 15px 0;

    border:none;
    border-radius:20px;

    background:#2f2f2f;
    color:white;
}

.loginForm button{
    width:100%;
    padding:12px;
    margin-top:10px;

    border:none;
    border-radius:20px;

    background:#00aaff;
    color:white;
    font-weight:bold;

    cursor:pointer;
}

#cancelar{
    background:#444;

}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
.nav li a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover{
    background-color: #111;
}
